# Made by:
[Keith Galli Video](https://www.youtube.com/watch?v=vmEHCJofslg)

[Keith Galli Channel](https://www.youtube.com/channel/UCq6XkhO5SZ66N04IcPbqNcw)

[Github Source Code](https://github.com/KeithGalli/pandas)

[Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/)

---

## Loading data into Pandas

In [1]:
import pandas as pd

#Reading normal csv
df = pd.read_csv('pokemon_data.csv')
df.head(2)

# Reading excel
# df_xlsx = pd.read_excel('pokemon_data.xlsx')
# print(df_xlsx.head(3))

#Reading txt with delimeter
# df = pd.read_csv('pokemon_data.txt', delimiter='\t')
# print(df.head(5))

#df['HP']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False

## Find a specific pokemon name

In [2]:
sub = 'Bulbasaur'
search = df["Name"].str.find(sub)
count = 0
for i in search:
    count += 1
    if i == 0:
        print("\n", sub , ",Encontrado na posição",count)
        break

 Bulbasaur ,Encontrado na posição 1

## Reading Data in Pandas

In [3]:
#Reading Headers
#print(df.columns)

#Reading each Column
#print(df[['Name', 'Type 1', 'Generation']])

#Reading Each Row
#for index, row in df.iterrows():
#    print(index, row['Legendary'])

#df.loc[df['Legendary'] == True]

#Reading a specific location (R,C)
print(df.iloc[0:4,0:3])

   #                   Name Type 1
0  1              Bulbasaur  Grass
1  2                Ivysaur  Grass
2  3               Venusaur  Grass
3  3  VenusaurMega Venusaur  Grass

## Sorting/Describing Data

In [4]:
#Describe Data
#print(df.describe())

#Sorting data
##Highest speed to lowest:
#df.sort_values(['Speed'], ascending=False)

##Lowest to Highest (Type 1) Highest to Lowest (HP)  
#df.sort_values(['Type 1','HP'], ascending=[1,0])

#Print all data
#df

## Making changes to the data

In [5]:
#Creating a total status column
#df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

#Deleting the total column
#df = df.drop(columns=['Total'])

#Other way to get the sum of all status
df['Total'] = df.iloc[:, 4:10].sum(axis=1)

#Moving the total column
#!! Just Run that line one time !!
cols = list(df.columns)
df = df[cols[0:10] + [cols[-1]] + cols[10:12]]

#Printing out the values
#df.sort_values(['Total'])
#df.sort_values(['Total'],ascending=[0])
#df.describe()
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False

## Searching for a specific pokemon status

In [6]:
PokeName = 'Shedinja'

df.loc[df['Name'] == PokeName]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,236,3,False

## Exporting data into desired format

In [7]:
#index=False remove the index column (ex: the 316 in Shedinja)

#To CSV
#df.to_csv('new_pokemon_data.csv', index=False)

#To Excel
df.to_excel('new_pokemon_data.xlsx', index=False)

#To TXT
#df.to_csv('new_pokemon_data.txt', index=False, sep='\t')

## Advanced Filtering

In [8]:
#Creating a filter
new_df = df.loc[(df['Type 1'] == 'Normal') & (df['Type 2'] == 'Flying') & (df['Attack'] > 75)]

#Setting index to start at 0
#new_df.reset_index(drop=True, inplace=True)

#Saving data on an excel file
##Sorted
new_df.sort_values(['Attack'],ascending=[0]).to_excel('filtered_offensive_birds.xlsx', index=False)
##Normal
#new_df.to_excel('filtered_offensive_birds.xlsx')

#Printing the new data sorted by higher Attack
#new_df.sort_values(['Attack'],ascending=[0])


#Filter by a specific string ((~) is used insted of (!) to deny)
#df.loc[df['Name'].str.contains('Mega')]

#Using Regex
import re
#df.loc[df['Type 1'].str.contains('Fairy|Dragon',regex = True)]
df.loc[df['Name'].str.contains('^pik[a-z]*', flags=re.I ,regex = True)]#flags=re.I(Ignore case)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,320,1,False

## Conditional Changes

In [9]:
#Changing a column information

#df.loc[df['Type 1'] == 'Grass','Type 1'] = 'Plant'

#df.loc[df['Total'] > 500, ['Generation','Legendary']] = ['Test 1', 'Test 2']

df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False

## Aggregate Statistics

In [10]:
#Taking the mean of all pokemons status and sorting by a specific parameter
#df.groupby(['Type 1']).mean().sort_values('Attack',ascending=0) #Dragon
#df.groupby(['Type 1']).mean().sort_values('Defense',ascending=0) #Steel
#df.groupby(['Type 1']).mean().sort_values('Total',ascending=0) #Dragon

#Taking the sum
#df.groupby(['Type 1']).sum()

#Counting
#df.groupby(['Type 1']).count()["#"]
df.groupby(['Type 1','Type 2']).count()["#"]

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: #, Length: 136, dtype: int64

## Working with large amounts of data

In [11]:
#new_df = pd.DataFrame(columns=df.columns)

#for df in pd.read_csv('pokemon_data.csv', chunksize=5):
#    results = df.groupby(['Type 1']).count()
    
#    new_df = pd.concat([new_df, results])
    
#print(new_df)